{% extends 'layout.html.twig' %}

{% block content %}

    <div id="1" class="bubble" style="top: 50px; left: 50px;">
        <div class="content" contenteditable="true">idea</div>
        <div class="handle">move</div>
        <input class="rotate" type="range" min="18" max="48" value="18" step="2" />
    </div>

    <div id="2" class="bubble" style="top: 250px; left: 450px;">
        <div class="content" contenteditable="true">another idea</div>
        <div class="handle">move</div>
        <input class="rotate" type="range" min="18" max="48" value="18" />
    </div>

    <div id="3" class="bubble" style="top: 450px; left: 850px;">
        <div class="content" contenteditable="true">might be a good idea</div>
        <div class="handle">move</div>
        <input class="rotate" type="range" min="18" max="48" value="18" />
    </div>

{% endblock %}
