body {
    background-color: orangered;
    
    font-family: "Cutive";
    font-size: 18px;
    color: white;
}

.bubble {
    position: absolute;
    
    overflow: visible;
        
    text-align:  center;
    text-shadow: 1px 1px 1px black;
}

.bubble .content {
    padding: 0px 4px;
    
    outline-style:      none;
    -moz-outline-style: none;
    
    transition:         ease-in-out 0.25s;
    -moz-transition:    ease-in-out 0.25s;
    -webkit-transition: ease-in-out 0.25s;
    -o-transition:      ease-in-out 0.25s;
}

.bubble .handle, .bubble .resize {
    float: left;
    
    width:     25px;
    min-width: 100%;
    
    background-color: black;
    
    font-size: x-small;
    
    cursor: move;
    
    opacity: 0;
    
    transition:         opacity ease-in-out 0.5s;
    -moz-transition:    opacity ease-in-out 0.5s;
    -webkit-transition: opacity ease-in-out 0.5s;
    -o-transition:      opacity ease-in-out 0.5s;
}

.bubble .resize { z-index: 999; cursor: default; }

.bubble:hover .handle, .bubble:hover .resize {
    opacity: 1;
}

#template.bubble { display: none; }
